'on':
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next

permissions:
  contents: read
  id-token: write
 
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node-version:
          - --delete-- 20.11.*
          - --delete-- 20.12.0
          - --delete-- 20.12.1
          - --delete-- 20.12.2
          - --delete-- 20.13.0
          - --delete-- 20.13.1
          - --delete-- 20.14.0
          - --delete-- 20.15.0
          - --delete-- 20.15.1
          - --delete-- 20.16.0
          - --delete-- 22.0.0
          - --delete-- 22.1.0
          - --delete-- 22.2.0
          - --delete-- 22.3.0
          - --delete-- 22.4.0
          - --delete-- 22.4.1
          - --delete-- 22.5.0
          - --delete-- 22.5.1
          - --delete-- 22.6.0
          - --delete-- 22.7.0
          - --delete-- 22.8.0
          - --delete-- 22.9.0
          - --delete-- 22.10.0
          - --delete-- 22.11.0
          - --delete-- 22.12.0
          - --delete-- 22.13.0
          - --delete-- 22.13.1
          - --delete-- 22.14.0
          - --delete-- 22.15.0
          - --delete-- 22.15.1
          - --delete-- 22.16.0
          - --delete-- 22.17.0
          - --delete-- 22.17.1
          - --delete-- 22.18.0
          - --delete-- 22.19.0
          - --delete-- 22.20.0
          - --delete-- 22.21.0
          - --delete-- 24.10.0
          - --delete-- 24.11.0
          - 24.11.1
        browser:
          - chrome
#          - firefox
#        firefox:
#          - latest
    steps:
#      - uses: browser-actions/setup-firefox@latest
#        with:
#          firefox-version: ${{ matrix.firefox }}
      - name: checkout
        uses: actions/checkout@v5.0.0
      - name: prepare node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: 'package-lock.json'
      - name: npm install
        run: npm cit
        env:
          BROWSER: ${{ matrix.browser }}
      - name: upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: screenshots-${{ matrix.browser }}
          path: ${{ github.workspace }}/build/test/**/*
          retention-days: 3
        if: always()
  release:
    needs:
      - test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: install dependencies
        run: |2
          if [ ! -f /usr/bin/pacman ]
          then
          sudo apt-get update
          sudo apt-get install ksh curl
          wget https://github.com/ThePoorPilot/pacman-utils/releases/download/5.2.2-3_2.31-0/pacman-utils_5.2.2-3_amd64.deb
          sudo apt-get install -f ./pacman-utils_5.2.2-3_amd64.deb
          fi
      - name: checkout
        uses: actions/checkout@v5.0.0
      - name: prepare node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.11.1
          cache: npm
          cache-dependency-path: 'package-lock.json'
      - name: install
        run: npm ci
      - name: release
        run: npx semantic-release
        env:
          CI: 'true'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PKGBUILD_PUBLISH: ${{ secrets.PKGBUILD_PUBLISH }}
          PKGEXT: '.pkg.tar.xz'
